@import models.Payment
@(payments: Seq[Payment])
<a href="@controllers.orders.routes.PaymentController.createPayment()">Create Payment</a><br><br>

<strong>Payments</strong><br />

@for(payment <- payments) {
    <strong>Payment: </strong>
    <ul>
    <li><strong>Value: </strong>@payment.value</li>
    <li><strongb>Paid: </strongb>@payment.paid</li>
    <li><strong>Method: </strong>@payment.method</li>
    </ul>
    <a href="@controllers.orders.routes.PaymentController.updatePayment(payment.id)">Edit</a>
    <a href="@controllers.orders.routes.PaymentController.deletePayment(payment.id)">Delete</a><br /><br />
}