@import controllers.categories.UpdateCategoryForm
@(category: Form[UpdateCategoryForm])(implicit request: MessagesRequestHeader, flash: Flash)

@import helper._

@flash.get("success").getOrElse("")
<a href="@controllers.categories.routes.CategoryController.getCategories()">Back to categories</a><br><br>

<strong>Category update</strong>


@form(controllers.categories.routes.CategoryController.updateCategoryHandle()) {
    @helper.CSRF.formField
    <input name="id" id="id" value="@category("id").value" type="hidden" />
   @inputText(category("name"))



    <div class="buttons">
        <input type="submit" value="Update Category"/>
    </div>
}