@import models.Payment
@(payments: Seq[Payment])
<a href="@controllers.orders.routes.PaymentController.createPayment()">Create Payment</a><br><br>

<b>Payments</b><br />

@for(payment <- payments) {
    <b>Payment: </b>
    <li><b>Value: </b>@payment.value</li>
    <li><b>Paid: </b>@payment.paid</li>
    <a href="@controllers.orders.routes.PaymentController.updatePayment(payment.id)">Edit</a>
    <a href="@controllers.orders.routes.PaymentController.deletePayment(payment.id)">Delete</a><br /><br />
}