@import controllers.orders.CreateShipmentForm
@(shipment: Form[CreateShipmentForm])(implicit request: MessagesRequestHeader, flash: Flash)

@import helper._

@flash.get("success").getOrElse("")
<a href="@controllers.orders.routes.ShipmentController.getShipments()">Back to shipments</a><br><br>

<strong>Shipment create</strong>

@form(controllers.orders.routes.ShipmentController.createShipmentHandle()) {
    @helper.CSRF.formField
    @inputText(shipment("date"))
    @inputText(shipment("address"))
    @inputText(shipment("firstName"))
    @inputText(shipment("lastName"))
    @inputText(shipment("provider"))


    <div class="buttons">
        <input type="submit" value="Add Product"/>
    </div>
}