@import models.Shipment
@(shipments: Seq[Shipment])

<a href="@controllers.orders.routes.ShipmentController.createShipment()">Create Shipment</a><br><br>

<b>Shipments</b><br />

@for(shipment <- shipments) {
    <b>Shipment: </b>
    <li><b>Date: </b>@shipment.date</li>
    <li><b>Address: </b>@shipment.address</li>
    <li><b>FirstName: </b>@shipment.firstName</li>
    <li><b>Last Name: </b>@shipment.lastName</li>
    <li><b>Provider: </b>@shipment.provider</li>
    <a href="@controllers.orders.routes.ShipmentController.updateShipment(shipment.id)">Edit</a>
    <a href="@controllers.orders.routes.ShipmentController.deleteShipment(shipment.id)">Delete</a><br /><br />
}