@import models.Shipment
@(shipments: Seq[Shipment])

<a href="@controllers.orders.routes.ShipmentController.createShipment()">Create Shipment</a><br><br>

<strong>Shipments</strong><br />

@for(shipment <- shipments) {
    <strong>Shipment: </strong>
    <ul>
    <li><strong>Date: </strong>@shipment.date</li>
    <li><strong>Address: </strong>@shipment.address</li>
    <li><strong>FirstName: </strong>@shipment.firstName</li>
    <li><strong>Last Name: </strong>@shipment.lastName</li>
    <li><strong>Provider: </strong>@shipment.provider</li>
    </ul>
    <a href="@controllers.orders.routes.ShipmentController.updateShipment(shipment.id)">Edit</a>
    <a href="@controllers.orders.routes.ShipmentController.deleteShipment(shipment.id)">Delete</a><br /><br />
}