@import models.SubCategory
@(subcategories: Seq[SubCategory])

<a href="@controllers.categories.routes.SubCategoryController.createSubCategory()">Create Subcategory</a><br><br>

<b>Subcategories</b><br />

@for(subcategory <- subcategories) {
    <b>Subcategory: </b>
    <li><b>Name: </b>@subcategory.name</li>
    <li><b>Description: </b>@subcategory.description</li>
    <li><b>Category: </b>@subcategory.category</li>
    <a href="@controllers.categories.routes.SubCategoryController.updateSubCategory(subcategory.id)">Edit</a>
    <a href="@controllers.categories.routes.SubCategoryController.deleteSubCategory(subcategory.id)">Delete</a><br /><br />
}