@import controllers.users.UpdateUserForm
@(user: Form[UpdateUserForm])(implicit request: MessagesRequestHeader, flash: Flash)

@import helper._

@flash.get("success").getOrElse("")
<a href="@controllers.users.routes.UserController.getUsers()">Back to users</a><br><br>

<b>User update</b>

@form(controllers.users.routes.UserController.updateUserHandle()) {
    @helper.CSRF.formField
    <input name="id" id="id" value="@user("id").value" type="hidden" />
    @inputText(user("username"))
    @inputText(user("password"))
    @inputText(user("email"))
    

    <div class="buttons">
        <input type="submit" value="Update User"/>
    </div>
}