@import controllers.orders.UpdateShipmentForm
@(shipment: Form[UpdateShipmentForm])(implicit request: MessagesRequestHeader, flash: Flash)

@import helper._

@flash.get("success").getOrElse("")
<a href="@controllers.orders.routes.ShipmentController.getShipments()">Back to shipments</a><br><br>

<b>Shipment update</b>

@form(controllers.orders.routes.ShipmentController.createShipmentHandle()) {
    @helper.CSRF.formField
    <input name="id" id="id" value="@shipment("id").value" type="hidden" />
    @inputText(shipment("date"))
    @inputText(shipment("address"))


    <div class="buttons">
        <input type="submit" value="Update Product"/>
    </div>
}