@()

<strong>Online Shop</strong> <br><br><br><br>

<a href="@controllers.basket.routes.BasketController.getBaskets()">Baskets</a><br><br>
<a href="@controllers.categories.routes.CategoryController.getCategories()">Categories</a><br><br>
<a href="@controllers.orders.routes.CouponController.getCoupons()">Coupons</a><br><br>
<a href="@controllers.orders.routes.OrderController.getOrders()">Orders</a><br><br>
<a href="@controllers.orders.routes.PaymentController.getPayments()">Payments</a><br><br>
<a href="@controllers.products.routes.ProductController.getProducts()">Products</a><br><br>
<a href="@controllers.products.routes.ReviewController.getReviews()">Reviews</a><br><br>
<a href="@controllers.orders.routes.ShipmentController.getShipments()">Shipments</a><br><br>
<a href="@controllers.categories.routes.SubCategoryController.getSubCategories()">Subcategories</a><br><br>
<a href="@controllers.users.routes.UserController.getUsers()">Users</a><br><br>
