@import models.User
@(users: Seq[User])
<a href="@controllers.users.routes.UserController.createUser()">Create User</a><br><br>

<b>Users</b><br />

@for(user <- users) {
    <b>User: </b>
    <li><b>First Name: </b>@user.firstName</li>
    <li><b>Last Name: </b>@user.lastName</li>
    <li><b>Email: </b>@user.email</li>
    <a href="@controllers.users.routes.UserController.updateUser(user.id)">Edit</a>
    <a href="@controllers.users.routes.UserController.deleteUser(user.id)">Delete</a><br /><br />
}