@import controllers.products.UpdateProductForm
@(product: Form[UpdateProductForm], subcategories: Seq[SubCategory])(implicit request: MessagesRequestHeader, flash: Flash)

@import helper._

@flash.get("success").getOrElse("")
<a href="@controllers.products.routes.ProductController.getProducts()">Back to products</a><br><br>

<b>Product update</b>


@form(controllers.products.routes.ProductController.updateProductHandle()) {
    @helper.CSRF.formField
    <input name="id" id="id" value="@product("id").value" type="hidden" />
    @inputText(product("name"))
    @inputText(product("price"))
    @inputText(product("description"))
    @inputText(product("img"))


    <b>Subcategory: </b>
    <select name="subcategory" id="subcategory">
    @for(subcategory <- subcategories){
        @if(subcategory.id.toString==product("subcategory").value.getOrElse(0)) {
            <option value="@subcategory.id" selected>@subcategory.name</option>
        } else {
            <option value="@subcategory.id">@subcategory.name</option>
        }
    }
    </select><br />

    <div class="buttons">
        <input type="submit" value="Update Product"/>
    </div>
}