@import models.Product
@(products: Seq[Product])
<a href="@controllers.products.routes.ProductController.createProduct()">Create Product</a><br><br>

<b>Products</b><br />
@for(product <- products) {
    <b>Product: </b>
    <li><b>Name: </b>@product.name</li>
    <li><b>Price: </b>@product.price</li>
    <li><b>Description: </b>@product.description</li>
    <li><b>Subcategory: </b>@product.subCategory</li>
    <li><b>Img: </b>@product.img</li>
    <a href="@controllers.products.routes.ProductController.updateProduct(product.id)">Edit</a>
    <a href="@controllers.products.routes.ProductController.deleteProduct(product.id)">Delete</a><br /><br />
}