@import controllers.basket.CreateBasketForm
@(basket: Form[CreateBasketForm], users: Seq[User])(implicit request: MessagesRequestHeader, flash: Flash)

@import helper._

@flash.get("success").getOrElse("")
<a href="@controllers.basket.routes.BasketController.getBaskets()">Back to baskets</a><br><br>

<strong>Basket create</strong>

@form(controllers.basket.routes.BasketController.createBasketHandle()) {
    @helper.CSRF.formField

    <strong>User: </strong>
    <select name="user" id="user">
    @for(user <- users){
        <option value="@user.id">@user.email</option>
    }
    </select>

    <div class="buttons">
        <input type="submit" value="Add Basket"/>
    </div>
}